<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="String operations">
    <groups>
        <run>
            <include name="stringgroup"/>
        </run>
    </groups>
    <test name="concatenation">
        <classes>
            <class name="TestSampleClass"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->